<div class="row">
    <div class="col s11 collection card" style="margin-left: 40px;">
        <div class="row collection-item">
            <div class="col s1 bold">
                #
            </div>
            <div class="col s2 bold">
                Name
            </div>
            <div class="col s2 bold">
                Account
            </div>
            <div class="col s2 bold">
                Since
            </div>
            <div class="col s2 bold">
                Manager
            </div>
            <div class="col s2 bold">
                Purchased Prooducts
            </div>
            <div class="col s1 bold">
                Revenue Generated
            </div>
        </div>

        {{#each data as |d index|}}
            <div class="row collection-item">
                <div class="col s1">
                    {{inc index}}
                </div>
                <div class="col s2">
                    {{d.firstName}} {{d.lastName}}
                </div>
                <div class="col s2">
                    {{d.account}}
                </div>
                <div class="col s2">
                    {{date d.customerSince}}
                </div>
                <div class="col s2">
                    {{d.relationshipManager}}
                </div>
                <div class="col s2">
                    <ul>
                        {{#each d.productsPurchased as |product|}}
                            <li>{{product}}</li>
                        {{/each}}
                    </ul>
                </div>
                <div class="col s1">
                    {{d.revenueGenerated}}
                </div>
            </div>
        {{/each}}
    </div>
</div>
